<html>
  <head>
    <title>Baby Namer</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/material.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>


      <!-- Always shows a header, even in smaller screens. -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {{template "navigation"}}
        <main class="mdl-layout__content">
          <div class="page-content" style="padding: 50px">
            <div class="page-content">

              <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Settings</h2>
                </div>
                <div class="mdl-card__supporting-text" style="column-count: 3">

                  <ul class="demo-list-item mdl-list">
                    {{range $key, $value := .}}
                      <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
                            for="{{$value.Code}}"
                            id="label-{{$value.Code}}"
                            >
                            <input type="checkbox" id="{{$value.Code}}" class="mdl-switch__input"
                              {{if $value.Enabled}}
                                checked
                              {{end}}
                              >
                            <span class="mdl-switch__label">{{$value.Plain}}</span>
                          </label>
                        </span>
                      </li>
                    {{end}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>

  </body>
</html>
